# 3D Graphics
*.f3d              filter=lfs diff=lfs merge=lfs -binary lockable
*.3mf              filter=lfs diff=lfs merge=lfs -binary lockable
*.stl              filter=lfs diff=lfs merge=lfs -binary lockable
*.stp              filter=lfs diff=lfs merge=lfs -binary lockable
*.gcode            filter=lfs diff=lfs merge=lfs -text lockable
*.obj              filter=lfs diff=lfs merge=lfs -binary lockable
*.fbx              filter=lfs diff=lfs merge=lfs -binary lockable
*.mb               filter=lfs diff=lfs merge=lfs -binary lockable
*.max              filter=lfs diff=lfs merge=lfs -binary lockable

# Graphics
*.ai              filter=lfs diff=lfs merge=lfs -binary lockable
*.bmp             filter=lfs diff=lfs merge=lfs -binary lockable
*.eps             filter=lfs diff=lfs merge=lfs -binary lockable
*.gif             filter=lfs diff=lfs merge=lfs -binary lockable
*.gifv            filter=lfs diff=lfs merge=lfs -binary lockable
*.ico             filter=lfs diff=lfs merge=lfs -binary lockable
*.jng             filter=lfs diff=lfs merge=lfs -binary lockable
*.jp2             filter=lfs diff=lfs merge=lfs -binary lockable
*.jpg             filter=lfs diff=lfs merge=lfs -binary lockable
*.jpeg            filter=lfs diff=lfs merge=lfs -binary lockable
*.jpx             filter=lfs diff=lfs merge=lfs -binary lockable
*.jxr             filter=lfs diff=lfs merge=lfs -binary lockable
*.pdf             filter=lfs diff=lfs merge=lfs -binary lockable
*.png             filter=lfs diff=lfs merge=lfs -binary lockable
*.psb             filter=lfs diff=lfs merge=lfs -binary lockable
*.psd             filter=lfs diff=lfs merge=lfs -binary lockable

# SVG treated as an asset (filter=lfs diff=lfs merge=lfs -binary lockable) by default.
*.svg             filter=lfs diff=lfs merge=lfs -text lockable

*.svgz            filter=lfs diff=lfs merge=lfs -binary lockable
*.tif             filter=lfs diff=lfs merge=lfs -binary lockable
*.tiff            filter=lfs diff=lfs merge=lfs -binary lockable
*.wbmp            filter=lfs diff=lfs merge=lfs -binary lockable
*.webp            filter=lfs diff=lfs merge=lfs -binary lockable

# Audio
*.kar             filter=lfs diff=lfs merge=lfs -binary lockable
*.m4a             filter=lfs diff=lfs merge=lfs -binary lockable
*.mid             filter=lfs diff=lfs merge=lfs -binary lockable
*.midi            filter=lfs diff=lfs merge=lfs -binary lockable
*.mp3             filter=lfs diff=lfs merge=lfs -binary lockable
*.ogg             filter=lfs diff=lfs merge=lfs -binary lockable
*.ra              filter=lfs diff=lfs merge=lfs -binary lockable
*.wav             filter=lfs diff=lfs merge=lfs -binary lockable

# Video
*.3gpp            filter=lfs diff=lfs merge=lfs -binary lockable
*.3gp             filter=lfs diff=lfs merge=lfs -binary lockable
*.as              filter=lfs diff=lfs merge=lfs -binary lockable
*.asf             filter=lfs diff=lfs merge=lfs -binary lockable
*.asx             filter=lfs diff=lfs merge=lfs -binary lockable
*.avi             filter=lfs diff=lfs merge=lfs -binary lockable
*.fla             filter=lfs diff=lfs merge=lfs -binary lockable
*.flv             filter=lfs diff=lfs merge=lfs -binary lockable
*.m4v             filter=lfs diff=lfs merge=lfs -binary lockable
*.mng             filter=lfs diff=lfs merge=lfs -binary lockable
*.mov             filter=lfs diff=lfs merge=lfs -binary lockable
*.mp4             filter=lfs diff=lfs merge=lfs -binary lockable
*.mpeg            filter=lfs diff=lfs merge=lfs -binary lockable
*.mpg             filter=lfs diff=lfs merge=lfs -binary lockable
*.ogv             filter=lfs diff=lfs merge=lfs -binary lockable
*.swc             filter=lfs diff=lfs merge=lfs -binary lockable
*.swf             filter=lfs diff=lfs merge=lfs -binary lockable
*.webm            filter=lfs diff=lfs merge=lfs -binary lockable

# Archives
*.7z              filter=lfs diff=lfs merge=lfs -binary lockable
*.gz              filter=lfs diff=lfs merge=lfs -binary lockable
*.jar             filter=lfs diff=lfs merge=lfs -binary lockable
*.rar             filter=lfs diff=lfs merge=lfs -binary lockable
*.tar             filter=lfs diff=lfs merge=lfs -binary lockable
*.zip             filter=lfs diff=lfs merge=lfs -binary lockable

# Fonts
*.ttf             filter=lfs diff=lfs merge=lfs -binary lockable
*.eot             filter=lfs diff=lfs merge=lfs -binary lockable
*.otf             filter=lfs diff=lfs merge=lfs -binary lockable
*.woff            filter=lfs diff=lfs merge=lfs -binary lockable
*.woff2           filter=lfs diff=lfs merge=lfs -binary lockable

